---
layout: default
title: Blog
permalink: /blog/
---

<h1>Blog</h1>
<h4>Random thoughts, ideas, things I don't want to forget..</h4>
<hr/>

{%- if site.posts.size > 0 -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

  <!-- Sticky Posts -->
  {%- for post in site.posts -%}
    {% if post.sticky %}
      {% include blog-summary.html %}
    {% endif %}
  {%- endfor -%}

  <hr/>

  <!-- Non-Sticky Posts -->
  {%- for post in site.posts -%}
    {% unless post.sticky %}
      {% include blog-summary.html %}
    {% endunless %}
  {%- endfor -%}

{%- endif -%}