---
layout: post
title: Blog
permalink: /blog/
---

{%- if site.posts.size > 0 -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

  <!-- Sticky Posts -->
  {%- for post in site.posts -%}
    {% if post.sticky %}
      {% include blog-summary.html %}
    {% endif %}
  {%- endfor -%}

  <hr/>

  <!-- Non-Sticky Posts -->
  {%- for post in site.posts -%}
    {% unless post.sticky %}
      {% include blog-summary.html %}
    {% endunless %}
  {%- endfor -%}

{%- endif -%}