<header class="mb-auto">
    <div>
      <div style="float:left;">
        <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" style="a:hover=none">
          <img class="header-icon" src="{{ "assets/images/github.png" | relative_url }}"/>
        </a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
          <img class="header-icon" src="{{ "assets/images/linkedin.png" | relative_url }}" />
        </a>
        <a href="https://stackoverflow.com/users/840610/dan-saunders">
          <img class="header-icon" src="{{ "assets/images/so.png" | relative_url }}">
        </a>
      </div>
      <nav class="nav nav-masthead justify-content-right">
        <a class="nav-link {% if include.current=='/home/' %}active{% endif %}" href="/">Home</a>
        <a class="nav-link {% if include.current=='/xp/' %}active{% endif %}" href="/xp">XP</a>
        <a class="nav-link {% if include.current=='/projects/' %}active{% endif %}" href="/projects">Projects</a>
        <a class="nav-link {% if include.current=='/links/' %}active{% endif %}" href="/links">Links</a>
      </nav>
    </div>
</header>