<!doctype html>
<html lang="en">

  {% include head.html %}    

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      {% include header.html %}

      <main role="main" class="inner cover">
        {{ content }}
        <br/>
        <div style="line-height: 2em;">
          <a class="badge badge-pill badge-primary" data-toggle="collapse" href="#coding" role="button" aria-expanded="false" aria-controls="coding">
            Writing Code
          </a>&nbsp;
          <a class="badge badge-pill badge-secondary" data-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="design">
            Designing systems and architectures
          </a>&nbsp;
          <a class="badge badge-pill badge-success" data-toggle="collapse" href="#leading" role="button" aria-expanded="false" aria-controls="leading">
            Leading development teams
          </a>&nbsp;
        </div>
        
        <div class="collapse" id="coding">
          <div class="card card-body" style="color:#000; text-shadow: none;">
            Writing code...
          </div>
        </div>

        <div class="collapse" id="design">
          <div class="card card-body" style="color:#000; text-shadow: none;">
            Designing systems and architectures...
          </div>
        </div>

        <div class="collapse" id="leading">
          <div class="card card-body" style="color:#000; text-shadow: none;">
            Leading development teams...
          </div>
        </div>

      </main>

      {% include footer.html %}  

    </div>

  </body>

</html>
